p{
	font-family:arial;
	border: 1px dashed #465675;
	background-color:#FFFFCC;
	font-size:16px;
}/*
a{
	color:#000066;
	font-family:arial;
	font-size:9px;
}*/

.dhtmlgoodies_tree{
	margin:0px;
	padding:0px;
}
.dhtmlgoodies_tree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	display:none;	/* Initially hide sub nodes */
}
.dhtmlgoodies_tree li{	/* Nodes */
	list-style-type:none;
	vertical-align:middle;
	
}
.dhtmlgoodies_tree li a{	/* Node links */
	color:#FFFFFF;
	text-decoration:none;
	font-family:arial;
	font-size:13px;
	padding-left:2px;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#0066CC; /*#000000;*/
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#0066CC;
}

/*AQUI EL OTRO ESTILO*****************************************************************/
BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px;
}
/*
.menuh:visited {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #fff 1px solid; COLOR: #f0f0f0; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #cc0000; TEXT-DECORATION: none
}
.menuh:hover {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #fff 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #990000; TEXT-DECORATION: none
}
.menuh:link {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #fff 1px solid; COLOR: #f0f0f0; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #cc0000; TEXT-DECORATION: none
}
.menuh:active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #fff 1px solid; COLOR: #f0f0f0; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #cc0000; TEXT-DECORATION: none
}
.smenuh:visited {
	BORDER-RIGHT: #2b517b 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #2b517b 1px solid; PADDING-LEFT: 13px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #2b517b 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #2b517b 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #6690b8; TEXT-DECORATION: none
}
.smenuh:link {
	BORDER-RIGHT: #2b517b 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #2b517b 1px solid; PADDING-LEFT: 13px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #2b517b 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #2b517b 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #fbfbff; TEXT-DECORATION: none
}
.smenuh:active {
	BORDER-RIGHT: #2b517b 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #2b517b 1px solid; PADDING-LEFT: 13px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #2b517b 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #2b517b 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #fbfbff; TEXT-DECORATION: none
}
.smenuh:hover {
	BORDER-RIGHT: #2b517b 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #2b517b 1px solid; PADDING-LEFT: 13px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0em; BORDER-LEFT: #2b517b 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #2b517b 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #fbfbff; TEXT-DECORATION: none
}
.menup:link {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menup:visited {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menup:hover {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.menup:active {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.smenu:link {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smenu:visited {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smenu:hover {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #336699; PADDING-TOP: 5px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.smenu:active {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.est_subtitulos {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.fir_tex {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 6px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.fir_top {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 9px; COLOR: #333; FONT-FAMILY: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.fir_cre {
	FONT-SIZE: 9px; COLOR: #666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rbv {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.rbv1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 6px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titulos {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit_blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_plano_10 {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_plano_10_roj {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_10_roj {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_plano_11 {
	FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_plano_14_azul {
	FONT-SIZE: 14px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_14_azul {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_plano_12_azul {
	FONT-SIZE: 12px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_12_azul {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_16_azul {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto_bold_18_azul {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #666fbd; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cajaMenu {
	PADDING-RIGHT: 3px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 178px; PADDING-TOP: 3px
}
.cajaSubmen {
	
}

/***************************************************************************************/

.linkMenu{
/*color:#FFFFFF;*/
color:#0033FF
}


 		a.linkMenu:link {
        color: #0000cc; font-weight: bold; text-decoration: none; }
        a.linkMenu:visited {
        color: #990099; text-decoration: none; }
        a.linkMenu:active{
        font-weight: bold; text-decoration:none; }
       a.linkMenu:hover {
        color: #3333ff; text-decoration: underline; }