.TR1 {
	  FONT-SIZE: 10px;  
	  COLOR: #FFFFFF;	  
	  font-weight:bolder; 	   
	  FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;  
	  TEXT-ALIGN: center; 
	  BACKGROUND-COLOR: #000066;	  
	  FONT-VARIANT: normal
}
.TR11 {
	  FONT-SIZE: 10px;  
	  COLOR: #FFFFFF;	  
	  font-weight:bolder; 	   
	  FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;  
	  TEXT-ALIGN: right; 
	  BACKGROUND-COLOR: #678fc2; 
	  FONT-VARIANT: normal
}

.TRAMARILLO {
	  FONT-SIZE: 10px;  
	  COLOR: #000000;	  
	  font-weight:bolder; 	   
	  FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;  
	  TEXT-ALIGN: center;
	  background-color:#FFCC66;
	  FONT-VARIANT: normal
}

.TR2 {
	 FONT-SIZE: 11px;  
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;  
	 text-align:justify;
	 background-color:#E5E5E5;
	 
	 FONT-VARIANT: normal
}

.TR3 {
	 FONT-SIZE: 11px;  
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 text-align:justify;
	 BACKGROUND-COLOR: #FFFFFF;	  
	 FONT-VARIANT: normal
	
}

.TOTAL {
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:right;
	background-color:#9CF;
	font-variant:normal;
	font-weight:bolder;
	
}

.titulo3{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:10px;
	
	color: #003399;
	text-align:justify;
	text-transform:uppercase;
}

.titulo8{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:10px;
	
	color: #ffffff;
	text-align:justify;
	text-transform:uppercase;
}

.titulo1 {
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size:24px;
	 text-align:right;	 	   
	 COLOR: #900;
	 font-weight:700
	 
}

.titulomen {
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size:21px;
	 text-align:left;	 	   
	 COLOR: #0000FF;
	 font-weight:700
	 
}

.titulomen2 {
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size:21px;
	 text-align:left;	 	   
	 COLOR: #FF0000;
	 font-weight:700
	 
}

.titulo2 {
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size:18px;  
	 COLOR: #900;
	 font-weight:700
	 
}

.titulo4{
	font-family:Arial, Helvetica, sans-serif;
   	font-weight:500;
   	font-size:10px;
   	color:#000000;
	text-align:justify;
	text-transform:uppercase;
}

.linea{
	color:#6690BF;
	border: groove;
}

.oculto{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
visibility:hidden;
}

.visible{
position:inherit;
left:inherit;
top:inherit;
width:inherit;
height:inherit;
visibility:visible;
}
 

 