/* CSS Document */
.focus { background-color: #fefbc8; }

.encabezado_tabla{
	font-family:Arial, Helvetica, sans-serif;
	/*background-color:#000099;*/
	font-weight:bold;
	font-size:12px;
	/*color:#000099;*/
	color: #003399;/*#FFFFFF;*/
	text-align:left;
}

.encabezado_tabla1{
	font-family:Arial, Helvetica, sans-serif;
	/*background-color:#000099;*/
	font-weight:bold;
	font-size:18px;
	/*color:#000099;*/
	color: #000000;/*#FFFFFF;*/
	text-align:left;
}

.fila_par{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color: #000000;
	text-align:left;	

}
.fila_impar{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color: #000000;
	text-align:left;	

	
}

.fila_par1{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color: #000000;
	text-align:left;	
	
	
}

.fila_par2{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	color: #000000;
	text-align:left;	
	
	}

.fila_dobles{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color: #000000;

	background-color:#ffffff;
	
}	

.fila_impar3{
	/*background-color:#E5E5E5;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color: #000000;

	background-color: #E1E1E1;
	
}	

.tabla{
border-bottom-color:#000000;
border-top: solid;

border-left-color:#000000;
border-bottom: solid;

border-bottom-color:#000000;
border-right:solid;


border-bottom-color:#000000;
border-left:solid;


}

.registro_fila{
	background-color:#EFF6FF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000000;
}
.titulo{
	font-family:Arial, Helvetica, sans-serif;
	/*background-color:#000099;*/
	font-weight:bold;
	font-size:12px;
	/*color:#000099;*/
	color: #003399;/*#FFFFFF;*/
	text-align:center;
}

.reporte{
	font-family:Arial, Helvetica, sans-serif;
	/*background-color:#000099;*/
	font-weight:bold;
	font-size:12px;
	/*color:#000099;*/
	color: #000000;/*#FFFFFF;*/
	text-align:left;
}
 .navegador{
	font-family:Arial, Helvetica, sans-serif;
	/*background-color:#000099;*/
	font-weight:bold;
	font-size:12px;
	/*color:#000099;*/
	color: #003399;/*#FFFFFF;*/
	text-align:right;
	border:none;
	/*disabled:disabled*/
}
.texto{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:500;		
}
.textoAzul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000099;
	font-weight:bold;
	vertical-align:top;
		
}


.inputbox{
   /*background-color:#A6D7F4; */
   font-family:Arial, Helvetica, sans-serif;
   font-weight:500;
   font-size:10px;
   color:#000000;
   text-transform:uppercase;
}

 .boton{
   background-color: #E5E5E5;
   font-family:Arial, Helvetica, sans-serif;
   /*font-weight:bold;*/
   font-size:10px;
   color: #000000;
   width:65px;
  
 }
 A:link
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000066;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
.titulos_menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000066;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}