/* CSS Document */
body{
		/*
		You can remove these four options 		
		*/
		background-repeat:no-repeat;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		margin:0px;
	}
	#ad{
		padding-top:220px;
		padding-left:10px;
	}
.fila_color{
/*background-color:#E5E5E5;*/
background-color:#EFF6FF;

}
.fila_c{
background-color:#333399;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:500;
color:#FFFFFF;
}
.titulo{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:12px;

	color: #003399;
	text-align:center;	
}

.texto{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:500;		
}

.asterisco{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color: #003399;
	text-align:justify;
	text-transform:uppercase;
}

.inputbox{
  
   font-family:Arial, Helvetica, sans-serif;
   font-weight:500;
   font-size:10px;
   color:#000000;	
   text-transform:uppercase;
}

.inputbox2{
  
   font-family:Arial, Helvetica, sans-serif;
   font-weight:500;
   font-size:10px;
   color:#000000;
   /*text-transform:lowercase;*/
   }

 .boton{
   background-color: #e5e5e5;
   font-family:Arial, Helvetica, sans-serif;  
   font-size:10px;
   color: #000000;
   width:105px;
  
 }
     /*font-size:10px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:bold;
        color:white;
        
		background:#667BBE; 
        border:0px;
        width:60px;*/
   
 
A:link
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
/*
A:visited
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000066;
    TEXT-DECORATION: underline
}*/
A:active
{
     FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
	color:#000066;       
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titulo_menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;   
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#demoIzq, #demoDer { border:0px dashed; width:296px; background-color:#FFF; text-align:left; }

#demoDer { float:left; position:relative; }

#lista
{
	text-align:left;
	position:absolute;
	width:105px;
	background-color:#EAEAEA; color:#000000;
	border:1px dotted; border-color:#000000;
	z-index:1;
	top:20px;
	left:0px;
	display:none;
}

.resaltado
{
	background-color:#FFFFFF; color:#000000;
	cursor:pointer;
}

.normal
{
	background-color:#EAEAEA; color:#000000;
}


