body {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
td{ 
	font-size: 14px;
}
p{font-size: 16px;
}

.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 9px;
	font-weight: bold;
}
.campos1 {font-size: 12px}
.TXto {color: #333399; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.eleccion {font-size: 12px; color: #000066; }
.inside {font-size: 11px; color: #000066; }
.titulos {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.Estilo30 {font-size: 12px}
.Estilo34 {font-size: 12px; font-weight: bold; }
.Estilo36 {font-size: 12px; color: #FF0000; }
.Estilo38 {font-size: 9px; color: #FF0000; }
.Estilo40 {font-size: 10px; color: #FF0000; }

a.nover{
visibility: hidden;
color: #ffffff;
}
.nover1{
visibility: hidden;
color: #ffffff;
}
a{
visibility: hidden;
color: #ffffff;
}
/*
a:active {
color: #ffffff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a:hover {
color: #ffffff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link {
color: #ffffff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:visited {
color: #ffffff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}*/
.superponer {
	visibility: hidden;
}
.lineai{
	color:#EBEBEB;
	border:inherit;
	/*border:double;*/
}
