.tabla{

border-color:#000000;


}

.titulor {
	 FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size:14px;  
	 color:#000000;
	 font-weight:700;
	 text-align:center; 
} 
.titulo3{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:10px;
	
	color:#000000;
	text-align:justify;
	text-transform:uppercase;
}

.titulo4{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:10px;
	
	color:#000000;
	text-align:justify;
	text-transform:uppercase;
	font-weight:bolder;

}
.titulof{
	font-family:Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:10px;
	
	color:#000000;
	text-align:right;
	text-transform:uppercase;
}
.lineai{
	color:#EBEBEB;
	/*border:double;*/
	/*border:double;*/
}
