body {
	background:#FFFFFF none repeat scroll 0 0;
	color:#444444;
	font-family:"Segoe UI",Frutiger,Tahoma,"Helvetica","Helvetica Neue",Arial,sans-serif;
	font-size:62.5%;
	margin:20px;
}

	canvas{display: block; border: 1px solid #ddd;}
	
	div.chartBlock { margin: 1em 0 20em 20px; position: relative; }
	
	table span {border: 0; padding: 3px;}
	/*table input {background: #ffe4bf; width: 40em; height: 1.6; text-transform:uppercase;  font-weight:500;}
	/*show hide content for non js*/
	div#dataVisualizations, h3 {display: none;}
	body.hasJS div#dataVisualizations {display: block;}
	body h3 {display: block; clear: both; margin: 4em 0 .5em;}
	#copy {margin-top: 5em; border-top: 1px solid #eee; padding: .5em 0;}
	body li {font-size: 1em;}
	td,th {width: auto;}
